/*
COLORS:

Light Green: #7ed56f
Medium Green: #55c57a
Dark Green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    color: #777;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

/*------------------------------------------------------*/
/* ===== BUTTONS ===== */

.btn:link,
.btn:visited {
    display: inline-block;
    position: relative;
    padding: 15px 40px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    transition: all 0.2s;
    backface-visibility: hidden;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    transition: all 0.4s;
    z-index: -1;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-white::after {
    background-color: #fff;
}

.btn-animated {
    animation: headerBtnInit 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
}

/*------------------------------------------------------*/
/* ===== HEADER ===== */

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgb(126, 213, 111, 0.8),
        rgb(40, 180, 133, 0.8)
    ), url("../img/img_header_splash.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    color: #fff;
    font-size: 350%;
}

.header-primary {
    margin-bottom: 60px;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.header-text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.header-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 27px;
    word-spacing: 10px;
    animation: headerMainInit 1s ease-out;
}

.header-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.9px;
    animation: headerSubInit 1s ease-out;
}

/*------------------------------------------------------*/
/* ===== KEYFRAMES ===== */

@keyframes headerMainInit {
    0% { opacity: 0; transform: translateX(-100px); }
    80% { transform: translateX(10px); }
    100% { opacity: 1; transform: translate(0); }
}

@keyframes headerSubInit {
    0% { opacity: 0; transform: translateX(100px); }
    80% { transform: translateX(-10px); }
    100% { opacity: 1; transform: translate(0); }
}

@keyframes headerBtnInit {
    0% { opacity: 0; transform: translateY(30px) }
    80% { transform: translateY(-5px) }
    100% { opacity: 1; transform: translateY(0); }
}






























































