/*------------------------------------------------------*/
/* ===== FOOTER ===== */

.footer {
    padding: 10rem 0;
    background-color: $color-grey-dark-2;
    font-size: 1.4rem;
    
    &__logo-container {
        
    }
    
    &__logo {
        
    }
    
    &__nav {
        
    }
    
    &__list {
        
    }
    
    &__item {
        
    }
    
    &__link {
        
    }
}
