/*------------------------------------------------------*/
/* ===== FEATURE CONTAINER ===== */

.feature-container {
    padding: 2.5rem;
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba($color-black, 0.15);
    transition: transform 0.3s;
    
    &__icon {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: transparent;
        font-size: 250%;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
    }
    
    &:hover { transform: translateY(-3px) scale(1.05); }
    
    &__text {
        
    }
}
