/*------------------------------------------------------*/
/* ===== UTILITIES ===== */

/* --- center text */
.u-center-text { text-align: center !important; }
.u-margin-bottom-sm { margin-bottom: 1.5rem !important; }
.u-margin-bottom-md { margin-bottom: 6rem !important; }
.u-margin-bottom-lg { margin-bottom: 8rem !important; }